<div id="searchEntry" class="input-container search-bar flexrow">
    <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
    <button id="searchBtn" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>          
</div>
<ul id="foldersList" class="folder-list">
    <li class="folder" data-id="">
        <span><i class="fas fa-folder"></i> Fenômenos Naturais</span>
        <div class="folder-content">            
            <ul class="entry-list">
                <li class="entry-item" data-id="FN002"><i class="fa-solid fa-file"></i> Ut Enim</li>
            </ul>
        </div>
    </li>
    <li class="list-item" data-cid=""><i class="fas fa-folder"></i> Conhecimento</li>
    <li class="list-item" data-cid=""><i class="fas fa-folder"></i> Locais</li>
    <li class="list-item" data-cid=""><i class="fas fa-folder"></i> Plantas</li>
</ul>