<div class="link-dialog flexrow">
    <div class="sidebar">
        <ul id="folderList" class="folder-list"></ul>
        <div class="footer">
            <div id="searchEntry" class="input-container search-bar flexrow">
                <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
                <button id="searchBtn" class="search-button"><i class="fas fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    <div class="content-summary entries">
        <div class="header flexrow">
            <div id="imageContainer" class="img-container disabled">
                <img id="displayedImage" class="img-displayed empty" src="../images/blank-image.svg"
                    alt="Imagem Padrão">
                <input id="hiddenFileInput" type="file" class="hidden" accept="image/*" />
            </div>
            <div class="header-info flexcol">
                <input id="titleInput" type="text" class="title" name="title" placeholder="Título da Entrada" disabled />
                <textarea id="flavorText" disabled></textarea>
            </div>
        </div>
    </div>
</div>