<div class="date-info flexrow">
  <div id="{{id}}" class="data-group date start" data-date="">
    <span class="data-label">{{label}} </span>
    <calendar class="{{dataSource}}"></calendar>
  </div>
  <div id="{{id}}" class="data-group date end" data-date="">
    <span class="data-label">
      {{label}}
      <i class="fa-regular fa-circle-question" data-tooltip="Opcional"></i>
    </span>
    <calendar class="dataSource"></calendar>
  </div>
</div>

<div class="data-complex flexrow">
  <div class="data-group check">
    <span class="data-label">{{label}} </span>
    <switch id="{{id}}" />
  </div>
</div>

<div class="data-group text">
  <span class="data-label">{{label}} </span>
  <input type="text" class="data" />
</div>

<div class="data-group number">
  <span class="data-label">{{label}} </span>
  <input type="number" class="data dial" min="{{min}}" max="{{max}}"/>
</div>

<div id="{{id}}" class="data-group combo">
  <span class="data-label">{{label}} </span>
  <combo id="entryType" value="{{dataSource}}" />
</div>

<div class="data-group list">
  <list id="{{id}}" value="{{dataSource}}" class="" item-class="{{itemClassName}}" />
</div>