<div class="chapter-dialog flexcol">
    <div class="data-group text">
        <span class="data-label">Título Capítulo</span>
        <input id="titleInput" type="text">
    </div>
    <div class="data-group combo">
        <span class="data-label">Tomo</span>
        <combo id="tomeSelect" value="tomes" blank="0"></combo>
    </div>
    <div class="data-group combo">
        <span class="data-label">Tipo </span>
        <combo id="typeSelect" value="chapterTypes" blank="0"></combo>
    </div>
    <div class="data-group list">
        <span class="data-label">Ícone</span>
        <div class="search-box">
            <input id="iconSearch" type="text" placeholder="Buscar ícone...">
        </div>
        <list id="iconList" value="icons" class="icon-list" item-class="icon-item"></list>
    </div>
</div>