<div class="source-dialog entries flexrow">
  <div id="sideBar" class="sidebar">
    <h4>Entradas</h4>
    <foldertree id="entryTypes" item="entries" fixed="true"></foldertree>
    <div class="footer">
      <div id="searchEntry" class="input-container search-bar flexrow">
        <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
        <button id="searchBtn" class="search-button"><i class="fas fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>
  <div class="content flexcol">
    <div class="header flexrow">
      <div id="imageDisplayer" class="img-displayer">
        <img id="displayedImage" class="img-displayed empty" src="./ui/blank-image.svg" alt="Imagem Padrão">
        <input type="file" class="hidden" id="hiddenFileInput" accept="image/*" />
      </div>
      <div class="header-info flexcol">
        <input id="titleInput" type="text" class="title" name="title" placeholder="Título da Entrada" disabled />
        <fieldset class="info-set" disabled>
          <div id="entryTypeGroup" class="data-group combo">
            <span class="data-label">Tipo </span>
            <combo id="entryType" value="entryTypes"/>
          </div>
          <div id="eventGroup" class="date-info flexrow hidden">
            <div id="startEventGroup" class="data-group combo">
              <span class="data-label">Início </span>
              <combo id="startEvent" value="entryEvents" />
            </div>
            <div id="endEventGroup" class="data-group combo">
              <span class="data-label">Término </span>
              <combo id="endEvent" value="entryEvents" />
            </div>
          </div>
          <div id="lineageTypeGroup" class="data-group combo">
            <span class="data-label">Tipo </span>
            <combo id="lineageTypes" value="lineageTypes" />
            <a id="manageTypeButton" data-tooltip="Gerenciar Tipos" data-tooltip-left=""><i
                class="fas fa-screwdriver-wrench"></i></a>
          </div>
          <div id="titleGroup" class="data-group text">
            <span class="data-label">Título </span>
            <input id="founderTitle" type="text" class="data" />
          </div>
          <div class="data-complex flexrow">
            <div id="lineageGroups" class="data-group combo">
              <span class="data-label">Grupo </span>
              <combo id="lineageGroupSelect" value="groups" />
            </div>
            <div class="data-group number">
              <span class="data-label">Ordem </span>
              <input id="lineageGroupOrder" type="number" class="data dial" min="0" max="99"/>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="separator"></div>
    <div id="sourceFlavorEditor" class="simple-tmce">
      <div class="text-content"></div>
    </div>
    <textarea id="sourceMainEditor">
      <div class="text-content editable"></div>
    </textarea>
  </div>