<div class="image-dialog flexcol">
    <div class="data-group text file">
        <div id="fileContainer" class="file-container flexrow">
            <span class="data-label">Escolha uma imagem: </span>
            <input type="text" id="chosenFilePath" class="file-path" disabled>
            <a id="chooseFileButton"><i class="fas fa-upload"></i></a>
            <input type="file" id="hiddenImageInput" class="hidden" accept="image/*">
        </div>
    </div>
    <div class="data-group text">
        <span class="data-label">Legenda: </span>
        <input type="text" id="captionInput" placeholder="Digite a legenda...">
    </div>
</div>