<div class="link-dialog entries flexcol">
    <div class="content">        
        <div class="link-group entry" data-type="entries">
            <h3>Entradas</h3>
            <div id="entriesList" class="link-list"></div>
        </div>
        <div class="link-group event" data-type="events">
            <h3>Eventos</h3>
            <div id="eventsList" class="link-list"></div>
        </div>
        <div class="link-group lineages" data-type="lineages">
            <h3>Linhagens</h3>
            <div id="lineagesList" class="link-list"></div>
        </div>
        <div class="link-group timelines" data-type="timelines">
            <h3>Linhas do Tempo</h3>
            <div id="timelinesList" class="link-list"></div>
        </div>
    </div>
    <div class="footer">
        <div id="searchItem" class="input-container search-bar flexrow">
            <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar...">
            <a id="clearSearch" data-tooltip="Limpar busca" data-tooltip-side="left" data-tooltip-block="top">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</div>