<div class="theme-dialog flexcol" style="transform: scale(1)">
    <div class="data-group hinted text">
        <span class="data-label">Nome Tema:</span>
        <input id="themeNameInput" type="text" class="data" data-name="--name" placeholder="Novo Tema" />
        <label class="input-hint">
            <p>O nome do tema não pode conter caracteres especiais.</p>
        </label>
    </div>
    <div class="data-group combo">
        <span class="data-label">Fontes</span>
        <combo id="fontSelect" value="fonts" blank="§"></combo>
    </div>
    <div class="separator"></div>
    <h4>Paletas de Cores</h4>
    <div class="data-group colors">
        <span class="data-label">Cor A</span>
        <div class="data-complex color-a flexrow">
            <input type="color" class="color-picker" id="darkAColorPicker">
            <input type="color" class="color-picker" id="mainAColorPicker">
            <input type="color" class="color-picker" id="lightAColorPicker">
        </div>
    </div>
    <div class="data-group colors">
        <span class="data-label">Cor B</span>
        <div class="data-complex color-b flexrow">
            <input type="color" class="color-picker" id="darkBColorPicker">
            <input type="color" class="color-picker" id="mainBColorPicker">
            <input type="color" class="color-picker" id="lightBColorPicker">
        </div>
    </div>
    <div class="data-group colors">
        <span class="data-label">Cor C</span>
        <div class="data-complex color-c flexrow">
            <input type="color" class="color-picker" id="darkCColorPicker">
            <input type="color" class="color-picker" id="mainCColorPicker">
            <input type="color" class="color-picker" id="lightCColorPicker">
        </div>
    </div>
    <div class="data-group colors">
        <span class="data-label">Cor D</span>
        <div class="data-complex color-d flexrow">
            <input type="color" class="color-picker" id="darkDColorPicker">
            <input type="color" class="color-picker" id="mainDColorPicker">
            <input type="color" class="color-picker" id="lightDColorPicker">
        </div>
    </div>
    <div class="separator"></div>
    <h4>Cores Adicionais</h4>
    <div class="data-group colors">
        <span class="data-label">Especial</span>
        <div class="data-complex color-special flexrow">
            <input type="color" class="color-picker" id="specialColorPicker">
        </div>
    </div>
    <div class="data-group colors">
        <span class="data-label">Destaque</span>
        <div class="data-complex color-highlight flexrow">
            <input type="color" class="color-picker" id="darkHighlightColorPicker">
            <input type="color" class="color-picker" id="highlightColorPicker">
        </div>
    </div>
    <div class="separator"></div>
    <h4>Cores de Fundo</h4>
    <div class="data-group colors">
        <span class="data-label">Principal</span>
        <div class="data-complex color-background flexrow">
            <input type="color" class="color-picker" id="darkBackgroundColorPicker">
            <input type="color" class="color-picker" id="mainBackgroundColorPicker">
            <input type="color" class="color-picker" id="lightBackgroundColorPicker">
        </div>
    </div>
    <div class="data-group colors">
        <span class="data-label">Citações</span>
        <div class="data-complex color-quote flexrow">
            <input type="color" class="color-picker" id="quoteBackgroundColorPicker">
        </div>
    </div>
    <div class="separator"></div>
    <h4>Cores Textos</h4>
    <div class="data-group combo">
        <span class="data-label">Principal</span>
        <div class="data-complex flexrow">
            <combo id="mainTextColor" value="colorList" blank="none" grouped="true"></combo>
            <div id="previewMainText" class="color-preview"></div>
        </div>
    </div>
    <div class="data-group combo">
        <span class="data-label">Clara</span>
        <div class="data-complex flexrow">
            <combo id="lightTextColor" value="colorList" blank="none" grouped="true"></combo>
            <div id="previewLightText" class="color-preview"></div>
        </div>
    </div>
    <div class="data-group combo">
        <span class="data-label">Escura</span>
        <div class="data-complex flexrow">
            <combo id="darkTextColor" value="colorList" blank="none" grouped="true"></combo>
            <div id="previewDarkText" class="color-preview"></div>
        </div>
    </div>
    <div class="data-group combo">
        <span class="data-label">Elemento Desativado</span>
        <div class="data-complex flexrow">
            <combo id="disabledTextColor" value="colorList" blank="none" grouped="true"></combo>
            <div id="previewDisabledText" class="color-preview"></div>
        </div>
    </div>
</div>