<div class="side-panel">
    <h3>Configurar marcador</h3>

    <div class="config-group">
        <span class="label">Cor do marcador</span>
        <div class="options">
            <button data-color="black" class="color-option active">
                <img src="./ui/icons/markers/bases/black.svg">
            </button>
            <button data-color="blue" class="color-option">
                <img src="./ui/icons/markers/bases/blue.svg">
            </button>
        </div>
    </div>

    <div class="config-group">
        <span class="label">Ícone</span>
        <div class="options">
            <button data-icon="none" class="icon-option active">
                Nenhum
            </button>
            <button data-icon="mystery" class="icon-option">
                <img src="./ui/icons/markers/icons/mystery.png">
            </button>
            <button data-icon="special" class="icon-option">
                <img src="./ui/icons/markers/icons/special.png">
            </button>
        </div>
    </div>

    <div class="preview">
        <span>Pré-visualização</span>
        <img id="markerPreview">
    </div>
</div>