:root[data-theme="theme-teste"] {
--default-font: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;";
--dark-color-a: #1e140feb;
--color-a: #231b14;
--light-color-a: #36281e;
--dark-color-a-T85: #1e140fd9;
--dark-color-a-T50: #1e140f80;
--dark-color-b: #7f1d1d;
--dark-color-b-T50: #7f1d1d80;
--dark-color-b-T85: #7f1d1dd9;
--color-b: #b82525;
--color-b-T50: #b8252580;
--color-b-T85: #b82525d9;
--light-color-b: #d17272;
--dark-color-c: #975508;
--color-c: #d97706;
--color-c-T85: #d97706d9;
--light-color-c: #fbbf24;
--dark-color-d: #0a0a0f;
--color-d: #a0aec0;
--light-color-d: #f7fafc;
--special-color: #ffffff1a;
--dark-highlight-color: #14532d;
--highlight-color: #16a34a;
--dark-background-color: #18120d;
--background-color: #140f0ae6;
--light-background-color: #362c21e6;
--blockquote-background: #3b3a30;
--text-color: var(--color-a);;
--light-text-color: var(--color-b);;
--dark-text-color: var(--color-c);;
--disabled-text-color: var(--color-d);;
--shadow-color: #00000080;
--tiny-border-radius: 1px;
--small-border-radius: 5px;
--default-border-radius: 8px;
--strong-border-radius: 12px;
--circular-border-radius: 50%;
--scrollbar-border-radius: 4px;
--slider-border-radius: 50%;
--track-border-radius: 10px;
--small-title-header-radius: 0 4px 4px 0;
--title-header-radius: 0 8px 8px 0;
--topbar-border-radius: 0 0 8px 8px;
--toggle-tab-border-radius: 4px 0 0 4px;
--tooltip-background: #231b14fa;
--tooltip-text: #e2e8f0;
--tooltip-muted: #9b8a78;
--tooltip-border: #b87a2566;
--tooltip-divider: #b87a2533;
--tooltip-title: #e5a440;}