:root[data-theme="theme-teste-criacao2"] {
                --default-font: "Arial", sansSerif;
--dark-color-a: #1A202BF2;
--color-a: #2D3747FF;
--light-color-a: #4A5569FF;
--dark-color-a-T85: #1A202BD9;
--dark-color-a-T50: #1A202B80;
--dark-color-b: #2C5382FF;
--dark-color-b-T50: #2C538280;
--dark-color-b-T85: #2C5382D9;
--color-b: #3283CFFF;
--color-b-T50: #3283CF80;
--color-b-T85: #3283CFD9;
--light-color-b: #64B4EDFF;
--dark-color-c: #718096FF;
--color-c: #9FADBFFF;
--color-c-T85: #9FADBFD9;;
--light-color-c: #E1E8F0FF;
--dark-color-d: #0A0A0FFF;
--color-d: #9FADBFFF;
--light-color-d: #F7FAFCFF;
--special-color: #FFFFFF1A;
--dark-highlight-color: #14542EFF;
--highlight-color: #15A349FF;
--dark-background-color: #0B0C0FFF;
--background-color: #1A202BF2;
--light-background-color: #1F2833FF;
--blockquote-background: #9FADBFD9;
--text-color: dark-color-a-T85;
--light-text-color: light-color-a;
--dark-text-color: color-a;
--disabled-text-color: dark-color-a;
--shadow-color: #00000080;
--tiny-border-radius: 1px;
--small-border-radius: 5px;
--default-border-radius: 6px;
--strong-border-radius: 8px;
--circular-border-radius: 50%;
--scrollbar-border-radius: 4px;
--slider-border-radius: 50%;
--track-border-radius: 10px;
--small-title-header-radius: 0 4px 4px 0;
--title-header-radius: 0 6px 6px 0;
--topbar-border-radius: 0 0 8px 8px;
--toggle-tab-border-radius: 4px 0 0 4px;
--tooltip-background: #1A202BFA;
--tooltip-text: #F7FAFCFF;
--tooltip-muted: #CCD6E0FF;
--tooltip-border: #FFFFFF14;
--tooltip-divider: #FFFFFF0F;
--tooltip-title: #FFFFFFFF;    
            }