<div id="about" class="entries about flexcol">
    <div class="header flexcol">
        <div class="icon-container flexcol">
            <img src="ui/icons/icone.png" />
        </div>
        <span class="title">UniForge</span>
        <span>{{versions.app}}</span>
    </div>
    <fieldset class="info-set" disabled>
        <div class="fieldset-content">
            <h3>Versões</h3>
            <div class="data-group text">
                <span class="data-label">Node JS </span>
                <input type="text" class="data" value="{{versions.node}}" />
            </div>
            <div class="data-group text">
                <span class="data-label">Electron </span>
                <input type="text" class="data" value="{{versions.electron}}" />
            </div>
        </div>
    </fieldset>
    <fieldset class="info-set" disabled>
        <div class="fieldset-content">
            <h3>Autoria</h3>
            <div class="data-group text">
                <span class="data-label">Autor </span>
                <input type="text" class="data" value="{{author}}" />
            </div>
            <div class="data-group text">
                <span class="data-label">Ano </span>
                <input type="text" class="data" value="{{year}}" />
            </div>
        </div>
    </fieldset>
</div>