<div id="encyclo" class="entries flexrow">
  <a id="minimizeButton" class="minimize-button">
    <i class="fa-solid fa-chevron-left"></i>
  </a>
  <div id="sideBar" class="sidebar">
    <h3>Enciclopédia</h3>
    <a id="newSubjectButton" class="flyer-button"><i class="fa-solid fa-folder-plus"></i> Novo Assunto</a>
    <foldertree id="subjects" item="categories"></foldertree>
    <div class="footer">
      <div id="confirmDialog" class="confirmation-tooltip hidden" data-item="" data-action="">
        <p id="confirmation-message"></p>
        <div class="confirmation-buttons">
          <button id="confirm-yes" class="confirm-btn">Yes</button>
          <button id="confirm-no" class="confirm-btn">No</button>
        </div>
      </div>
      <div id="searchEntry" class="input-container search-bar flexrow">
        <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
        <button id="searchBtn" class="search-button"><i class="fas fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>
  <div class="content flexcol">
    <div class="header flexrow">
      <div id="imageContainer" class="img-container disabled">
        <img id="displayedImage" class="img-displayed empty" src="./images/blank-image.svg" alt="Imagem Padrão">
        <input type="file" class="hidden" id="hiddenFileInput" accept="image/*" />
      </div>
      <div class="header-info flexcol">
        <input id="titleInput" type="text" class="title" name="title" placeholder="Título da Entrada" disabled />
        <fieldset class="info-content flexcol" disabled>
          <div class="data-group icon">
            <span class="data-label">Tipo </span>
            <div class="icon-container flexrow">
              <a id="dataIcon" class="data-icon" data-tooltip="Escolha um assunto..." data-tooltip-left><i
                  id="subjectIcon" class="fa-regular fa-file"></i></a>
            </div>
            <span id="typeLabel" class="type-label">&#8212</span>
          </div>
          <div class="data-group check">
            <span class="data-label">Rascunho </span>
            <switch id="isDraftSwitch" />
          </div>
        </fieldset>
      </div>
    </div>

    <div class="separator"></div>

    <textarea id="mainEditor">
        <div class="text-content editable"></div>
    </textarea>
    <div class="footer flexrow">
      <div class="extra buttons flexrow">
        <button id="cancelButton" class="cancel-entry hidden"><i class="fas fa-square-xmark"></i> Cancelar</button>
      </div>
      <div class="fixed buttons flexrow">
        <button id="newEntryButton" class="new-entry disabled"><i class="fas fa-square-plus"></i> Nova
          Categoria</button>
        <button id="saveButton" class="disabled"><i class="fa-regular fa-floppy-disk"></i> Salvar</button>
      </div>
    </div>
  </div>
</div>