<div id="history" class="entries flexrow">
  <a id="minimizeButton" class="minimize-button">
    <i class="fa-solid fa-chevron-left"></i>
  </a>
  <div id="sideBar" class="sidebar">
    <h3>{{title}}</h3>
    <foldertree id="sections" item="entries"></foldertree>
    <div class="footer">
      <div id="confirmDialog" class="confirmation-tooltip hidden" data-item="" data-action="">
        <p id="confirmation-message"></p>
        <div class="confirmation-buttons">
          <button id="confirm-yes" class="confirm-btn">Sim</button>
          <button id="confirm-no" class="confirm-btn">Não</button>
        </div>
      </div>
      <div id="searchEntry" class="input-container search-bar flexrow">
        <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
        <button id="searchBtn" class="search-button"><i class="fas fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>
  <div class="content flexcol">
    <div class="header flexrow">
      <div id="imageDisplayer" class="img-displayer disabled">
        <img id="displayedImage" class="img-displayed empty" src="./ui/blank-image.svg" alt="Imagem Padrão">
        <input id="hiddenFileInput" type="file" class="hidden" accept="image/*" />
      </div>
      <div class="header-info flexcol">
        <input id="titleInput" type="text" class="title" name="title" placeholder="Título da Entrada" disabled />
        <fieldset class="info-set" disabled>
          <div id="entryTypeGroup" class="data-group combo">
            <span class="data-label">Tipo </span>
            <combo id="entryType" value="entryTypes" />
          </div>
          <div class="data-complex flexrow">
            <div class="data-group check">
              <span class="data-label">Rascunho </span>
              <switch id="isDraftSwitch" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="separator"></div>

    <div id="sections" class="tabs-control flexcol">
      <div class="tabs-options flex-0 flexrow">
        <button id="descriptionTabButton" class="flexcol" data-tab="descriptionTab" disabled><i
            class="fas fa-align-left"></i> Descrição</button>
        <button id="eventTabButton" class="flexcol" data-tab="eventTab" disabled><i class="fas fa-calendar"></i>
          Eventos</button>
        <button id="lineageTabButton" class="flexcol" data-tab="lineageTab" disabled><i class="fas fa-people-group"></i>
          Linhagem</button>
      </div>
      <div id="descriptionTab" class="tab-content flex-1 flexcol active">
        <div id="flavorEditor" class="simple-tmce">
          <div class="text-content editable"></div>
        </div>
        <textarea id="mainEditor">
          <div class="text-content editable"></div>
        </textarea>
      </div>
      <div id="eventTab" class="tab-content flex-1 flexrow">
        <div class="data-group list flexcol">
          <h4 class="flex-0">Eventos Vinculados</h4>
          <ul id="entryEvents" class="list flex-1"></ul>
        </div>
        <div class="event-info flex-2">
          <fieldset class="info-set flexcol">
            <div class="data-group text">
              <span class="data-label">Nome Evento </span>
              <input id="eventTitle" type="text" class="data" placeholder="Nome do Evento" />
            </div>
            <div id="eventEntryTypeGroup" class="data-group combo">
              <span class="data-label">Tipo </span>
              <combo id="eventEntryType" value="entryTypes" />
            </div>
            <div id="dateTypeGroup" class="data-group combo">
              <span class="data-label">Calendário </span>
              <combo id="calendarType" value="calendars" />
            </div>
            <div id="relevanceGroup" class="data-group combo">
              <span class="data-label">Relevância </span>
              <combo id="relevance" value="relevances" />
            </div>
            <div class="date-info flexrow">
              <div id="startDate" class="data-group date start" data-date="">
                <span class="data-label">Início </span>
                <calendar class="start"></calendar>
              </div>
              <div id="endDate" class="data-group date end" data-date="">
                <span class="data-label">
                  Término
                  <i class="fa-regular fa-circle-question" data-tooltip="Opcional"></i>
                </span>
                <calendar class="end"></calendar>
              </div>
            </div>
            <div id="eventFlavorEditor" class="simple-tmce">
              <div class="text-content editable"></div>
            </div>
            <button id="addEventButton"><i class="fas fa-square-plus"></i> Adicionar Evento</button>
          </fieldset>
        </div>
      </div>
      <div id="lineageTab" class="tab-content flex-1 flexcol">
        <div id="lineageGroup" class="flexcol">
          <span>Esta Entidade ainda não possui uma linhagem. Deseja criar uma nova linhagem?</span>
          <div class="lineage-buttons flexrow">
            <button id="newLineageButton"><i class="fas fa-person-circle-plus"></i> Nova Linhagem</button>
          </div>
        </div>
        <div id="lineageContainer" class="lineage-container flexcol flex-1 hidden">
          <div id="lineageFlavorEditor" class="simple-tmce">
            <div class="text-content editable"></div>
          </div>
          <div class="tree-editor">
            <div id="treeContainer" class="lineage-tree viewer"></div>
            <div class="action-buttons floating flexcol">
              <button id="addMateButton" data-tooltip="Adicionar Parceiro" data-tooltip-left="" disabled>
                <i class="fas fa-ring"></i>
              </button>
              <button id="addChildrenButton" data-tooltip="Adicionar Descendente" data-tooltip-left="" disabled>
                <i class="fas fa-baby-carriage"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer flexrow">
      <div class="extra buttons flexrow">
        <button id="cancelButton" class="cancel-entry hidden"><i class="fa-solid fa-square-xmark"></i>
          Cancelar</button>
      </div>
      <div class="fixed buttons flexrow">
        <button id="newEntryButton" class="new-entry disabled"><i class="fas fa-square-plus"></i> Nova
          Entrada</button>
        <button id="saveButton" class="disabled"><i class="fa-regular fa-floppy-disk"></i> Salvar</button>
      </div>
    </div>
  </div>
</div>