<div id="library" class="entries article flexrow">
    <div id="sideBar" class="sidebar">
        <h3>Enciclopédia</h3>      
        <ul id="folderList" class="folder-list">          
        </ul>
        <div class="footer">
          <div id="searchEntry" class="input-container search-bar flexrow">
            <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
            <button id="searchBtn" class="search-button"><i class="fas fa-magnifying-glass"></i></button>          
          </div>
        </div>
    </div>
    <div id="entryContainer" class="article-container flexcol" data-entry-id="">        
    </div>
</div>