<div id="library" class="entries article flexrow">
  <a id="minimizeButton" class="minimize-button">
    <i class="fa-solid fa-chevron-left"></i>
  </a>
  <div id="sideBar" class="sidebar">
    <h3>Enciclopédia</h3>
    <ul id="folderList" class="folder-list">
    </ul>
    <div class="footer">
      <div id="searchEntry" class="input-container search-bar flexrow">
        <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
        <a id="clearSearch" data-tooltip="Limpar busca" data-tooltip-side="left" data-tooltip-block="top"><i class="fa-solid fa-xmark"></i></a>
      </div>
    </div>
  </div>
  <div id="entryContainer" class="article-container flexcol" data-entry-id="">
  </div>
</div>