<div id="settings" class="tabs-control flexcol">
    <div class="tabs-options flex-1 flexrow">
        <button id="main" class="flexcol selected" data-panel="mainPanel"><i class="fas fa-sliders"></i> Geral</button>
        <button id="encyclopedia" class="flexcol" data-panel="chapterPanel"><i class="fas fa-bookmark"></i>
            Capítulos</button>
        <button id="database" class="flexcol" data-panel="databasePanel"><i class="fas fa-database"></i> Banco de
            Dados</button>
        <button id="leaflet" class="flexcol" data-panel="leafletPanel"><i class="fas fa-map"></i> Leaflet ®</button>
    </div>
    <div class="settings-container flexrow">
        <div id="mainPanel" class="panel flexrow">
            <div class="content flexcol">
                <fieldset class="info-set core flexcol not-disable">
                    <div class="fieldset-content">
                        <h3>Geranciador de Temas</h3>
                        <div class="data-group flexrow combo">
                            <span class="data-label">Tema: </span>
                            <combo id="themeSelector" value="themes" grouped="true" />
                            <a id="newThemeButton" data-tooltip="Novo Tema"><i class="fas fa-plus"></i></a>
                            <a id="editThemeButton" class="hidden" data-tooltip="Editar Temas"><i
                                    class="fa-solid fa-palette"></i></a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="info-set calendars flexcol not-disable">
                    <div class="fieldset-content">
                        <h3>Geranciador de Calendários</h3>
                        <div class="data-group side-list right">
                            <div class="data-complex flexcol flex-1">
                                <h4>Calendários</h4>
                                <a id="newCalendarButton" class="flyer-button"><i class="fas fa-calendar-plus"></i> Novo
                                    Calendário</a>
                                <list id="calendarsList" value="calendars" class="calendar-list"
                                    item-class="calendar-item"></list>
                            </div>
                            <div class="data-complex flexcol flex-2">
                                <div class="calendar-manager">
                                    <fieldset disabled>
                                        <div class="fieldset-content">
                                            <h4>Geral</h4>
                                            <div class="data-group flexrow input">
                                                <span class="data-label">Nome Calendário:</span>
                                                <input id="calendarName" type="text" class="data" />
                                            </div>
                                            <div class="data-group flexrow input">
                                                <div class="data-complex flexrow flex-1">
                                                    <span class="data-label">Prefixo:</span>
                                                    <input id="calendarPrefix" type="text" class="data" />
                                                </div>
                                                <div class="data-complex flexrow flex-1">
                                                    <span class="data-label">Sufixo:</span>
                                                    <input id="calendarSuffixPre" type="text" class="data"
                                                        placeholder="a.C." />
                                                    <input id="calendarSuffixPos" type="text" class="data"
                                                        placeholder="d.C." />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset disabled>
                                        <div class="fieldset-content">
                                            <h4>Semana</h4>
                                            <table class="table calendar-week-days">
                                                <tr>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="0">
                                                            <span class="data-label">1º Dia</span>
                                                            <input id="day1Name" type="text" class="data"
                                                                placeholder="Domingo" />
                                                            <input id="day1ShortName" type="text" class="data"
                                                                placeholder="Dom" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="1">
                                                            <span class="data-label">2º Dia</span>
                                                            <input id="day2Name" type="text" class="data"
                                                                placeholder="Segunda-feira" />
                                                            <input id="day2ShortName" type="text" class="data"
                                                                placeholder="Seg" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="2">
                                                            <span class="data-label">3º Dia</span>
                                                            <input id="day3Name" type="text" class="data"
                                                                placeholder="Terça-feira" />
                                                            <input id="day3ShortName" type="text" class="data"
                                                                placeholder="Ter" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="3">
                                                            <span class="data-label">4º Dia</span>
                                                            <input id="day4Name" type="text" class="data"
                                                                placeholder="Quarta-feira" />
                                                            <input id="day4ShortName" type="text" class="data"
                                                                placeholder="Qua" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="4">
                                                            <span class="data-label">5º Dia</span>
                                                            <input id="day5Name" type="text" class="data"
                                                                placeholder="Quinta-feira" />
                                                            <input id="day5ShortName" type="text" class="data"
                                                                placeholder="Qui" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="5">
                                                            <span class="data-label">6º Dia</span>
                                                            <input id="day6Name" type="text" class="data"
                                                                placeholder="Sexta-feira" />
                                                            <input id="day6ShortName" type="text" class="data"
                                                                placeholder="Sex" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="data-complex week-day-item flexcol" data-idx="6">
                                                            <span class="data-label">7º Dia</span>
                                                            <input id="day7Name" type="text" class="data"
                                                                placeholder="Sábado" />
                                                            <input id="day7ShortName" type="text" class="data"
                                                                placeholder="Sáb" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <span class="hint">Todo calendário deve possuir semanas com 7 dias.</span>
                                        </div>
                                    </fieldset>
                                    <fieldset disabled>
                                        <div class="fieldset-content">
                                            <h4>Meses</h4>
                                            <div class="data-group flexrow input">
                                                <span class="data-label">Nome Mês:</span>
                                                <input id="monthName" type="text" class="data" />
                                            </div>
                                            <div class="data-group flexrow">
                                                <span class="data-label">Tamanho: </span>
                                                <slider id="monthSizeSlider"></slider>
                                                <span id="monthSizeSpan">30</span>
                                            </div>
                                            <div class="data-group flexrow fixed calendar-buttons">
                                                <button id="addMonthButton" class="disabled"><i class="fas fa-plus"></i>
                                                    Adicionar Mês</button>
                                            </div>
                                            <div class="separator"></div>
                                            <ul id="monthsList" class="list month-list">

                                            </ul>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="footer flexrow">                                    
                                    <div class="fixed buttons flexrow">
                                        <button id="saveCalendarButton" class="disabled"><i class="fa-regular fa-floppy-disk"></i> Salvar Calendário</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="databasePanel" class="panel flexcol hidden">
            <div class="content flexcol">
                <fieldset class="info-set flexcol">
                    <div class="fieldset-content">
                        <h3>Conexão Externa</h3>
                        <div class="data-complex external-connection-group">
                            <div class="data-group check">
                                <span class="data-label">Ativar </span>
                                <switch id="externalConnectionSwitch" />
                            </div>
                            <div class="data-group external-connection text hidden">
                                <span class="data-label">Caminho Conexão </span>
                                <div class="data-complex flexcol flex-2">
                                    <input id="externalConnectionPathInput" type="text" class="data"
                                        value="{{database.externalCon}}" data-key="externalCon" />
                                    <div class="data-complex buttons flexrow">
                                        <button id="testConnectionButton"><i class="fas fa-cloud-arrow-up"></i> Testar
                                            Conexão</button>
                                        <button id="createConnectionButton"><i class="fa-solid fa-plug"></i> Criar
                                            Conexão</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="info-set flexcol">
                    <div class="fieldset-content">
                        <h3>Ferramentas de Debug</h3>
                        <div class="data-group exec combo">
                            <span class="data-label">Executar Stored Procedure </span>
                            <div class="data-complex flexcol flex-2">
                                <select id="procedureName" class="data" name="procedureName"></select>
                                <button id="procedureButton"><i class="fas fa-cloud-arrow-up"></i> Executar</button>
                            </div>
                        </div>
                        <div class="data-group exec combo">
                            <span class="data-label">Excluir Tabela </span>
                            <div class="data-complex flexcol flex-2">
                                <select id="tableName" class="data" name="tableName"></select>
                                <button id="deleteTableButton"><i class="fas fa-cloud-arrow-up"></i> Executar</button>
                            </div>
                        </div>
                        <div class="data-group query">
                            <h4 class="data-label">Executar Comando </h4>
                            <textarea id="queryText"></textarea>
                            <div class="footer flexrow flex-2">
                                <button id="queryButton"><i class="fas fa-cloud-arrow-up"></i> Executar</button>
                            </div>
                        </div>
                        <div class="data-group combo">
                            <span class="data-label">Recriar Banco de Dados </span>
                            <div class="data-complex flexcol flex-2">
                                <button id="resetDatabaseButton"><i class="fas fa-arrows-rotate"></i> Recriar </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="chapterPanel" class="panel flexrow hidden">
            <div id="sideBar" class="sidebar">
                <h3>Capítulos</h3>
                <a id="newChapterButton" class="flyer-button"><i class="fas fa-folder-plus"></i> Novo Capítulo</a>
                <foldertree id="chapter" item="sections"></foldertree>
                <div class="footer">
                    <div id="confirmDialog" class="confirmation-tooltip hidden" data-item="" data-action="">
                        <p id="confirmation-message"></p>
                        <div class="confirmation-buttons">
                            <button id="confirm-yes" class="confirm-btn">Yes</button>
                            <button id="confirm-no" class="confirm-btn">No</button>
                        </div>
                    </div>
                    <div id="searchEntry" class="input-container search-bar flexrow">
                        <input type="text" id="searchInput" class="search-data" placeholder="Pesquisar entrada...">
                        <a id="clearSearch" data-tooltip="Limpar busca" data-tooltip-side="left"
                            data-tooltip-block="top"><i class="fas fa-xmark"></i></a>
                    </div>
                </div>
            </div>
            <div class="content flexcol">
                <div class="header flexrow">
                    <div class="header-info flexcol">
                        <input id="titleInput" type="text" class="title" name="title" placeholder="Título da Entrada"
                            disabled />
                        <fieldset class="info-set flexcol" disabled>
                            <div class="data-group icon">
                                <span class="data-label">Tipo </span>
                                <div class="icon-container flexrow">
                                    <a id="dataIcon" class="data-icon" data-tooltip="Escolha um assunto..."
                                        data-tooltip-side="left"><i id="chapterIcon" class="fa-regular fa-file"></i></a>
                                </div>
                                <span id="typeLabel" class="type-label">&#8212</span>
                            </div>
                            <div class="data-complex flexrow">
                                <div class="data-group check">
                                    <span class="data-label">Rascunho </span>
                                    <switch id="isDraftSwitch" />
                                </div>
                                <a id="lineageIcon" class="lineage-icon hidden" data-tooltip="Linhagem"
                                    data-tooltip-side="left"><i class="fas fa-people-group"></i></a>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="separator"></div>

                <textarea id="mainEditor">
                      <div class="text-content editable"></div>
                  </textarea>
                <div class="footer flexrow">
                    <div class="extra buttons flexrow">
                        <button id="cancelButton" class="cancel-entry hidden">
                            <i class="fas fa-square-xmark"></i> Cancelar
                        </button>
                    </div>
                    <div class="fixed buttons flexrow">
                        <button id="newEntryButton" class="new-entry disabled">
                            <i class="fas fa-square-plus"></i> Nova Seção
                        </button>
                        <button id="saveButton" class="disabled">
                            <i class="fa-regular fa-floppy-disk"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="leafletPanel" class="panel flexcol hidden">
            <div class="content flexcol">
                <fieldset class="info-set flexcol">
                    <div class="fieldset-content">
                        <h3>Mapa Padrão</h3>
                        <div class="data-group text">
                            <span class="data-label">Local </span>
                            <input id="defaultMapInput" class="data" type="text" value="{{leaflet.mainMap}}" readonly />
                            <a id="defaultMapButton" class="layer-item-select" data-tooltip="Selecionar Pasta"
                                data-tooltip-side="left"><i class="fas fa-folder-open"></i></a>
                        </div>

                        <h4>Metadados</h4>
                        <div class="data-group text">
                            <span class="data-label">Nome Arquivo </span>
                            <input class="data" type="text" value="{{metadata.name}}.{{metadata.format}}" readonly />
                        </div>
                        <div class="data-group text">
                            <span class="data-label">Versão Tiler </span>
                            <input class="data" type="text" value="{{metadata.version}}" readonly />
                        </div>
                        <div class="data-group text">
                            <span class="data-label">Formato CRS </span>
                            <input class="data" type="text" value="{{metadata.crs}}" readonly />
                        </div>
                        <div class="data-group text">
                            <span class="data-label">Zoom Mínimo </span>
                            <input class="data" type="text" value="{{metadata.minzoom}}" readonly />
                        </div>
                        <div class="data-group text">
                            <span class="data-label">Zoom Máximo </span>
                            <input class="data" type="text" value="{{metadata.maxzoom}}" readonly />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="info-set flexcol">
                    <div class="fieldset-content">
                        <h3>Ferramentas</h3>
                        <span class="hint">{{tilerHint}}</span>
                        <h4>Node Tiler ®</h4>
                        <div class="data-group button flexrow">
                            <span class="data-label"></span>
                            <button id="loadMapButton" class="data layer-item-select"><i
                                    class="fa-solid fa-table-cells-large"></i> Gerar TileMap</button>
                        </div>
                        <div class="data-group text">
                            <span class="data-label">Diretório Padrão </span>
                            <input id="tilerFolderInput" class="data" type="text" value="{{leaflet.tilerOutputFolder}}"
                                readonly />
                            <a id="defaultTilerFolderMapButton" class="layer-item-select"
                                data-tooltip="Selecionar Pasta" data-tooltip-side="left"><i
                                    class="fas fa-folder-open"></i></a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="info-set flexcol">
                    <div>
                        <h3>Elementos do Mapa</h3>
                    </div>
                </fieldset>
                <fieldset class="info-set flexcol">
                    <div class="fieldset-content">
                        <h3>Escala</h3>
                        <div class="data-complex scale">
                            <div class="data-group">
                                <span class="data-label">Zoom Máximo (Zmax)</span>
                                <div class="flexcol flex-2">
                                    <input id="maxZoomInput" class="data dial" type="number" min="0"
                                        value="{{leaflet.MAX_ZOOM}}" data-key="MAX_ZOOM" readonly />
                                    <span class="hint">Zoom onde 1 Map Unit é equivalente a 1 pixel (máxima
                                        resolução).</span>
                                </div>
                            </div>
                            <div class="data-group">
                                <span class="data-label">Distância Mínima</span>
                                <div class="flexcol flex-2">
                                    <input id="unitRatioInput" class="data dial" type="number" min="0.001" step="any"
                                        value="{{leaflet.mapUnitRatio}}" data-key="mapUnitRatio" />
                                    <span class="hint">Define a distância que 1 Map Unit representa no mapa, em pixels,
                                        enquanto no Zoom Máximo.</span>
                                </div>
                            </div>
                            <div class="data-group">
                                <span class="data-label">Unidade</span>
                                <div class="flexcol flex-2">
                                    <input id="unitNameInput" class="data" type="text" value="{{leaflet.mapUnitName}}"
                                        data-key="mapUnitName" />
                                    <span class="hint">Define a unidade de medida usada para representar distâncias nos
                                        mapas.</span>
                                </div>
                            </div>
                            <div class="data-group fixed">
                                <button id="calculateScaleButton" class="calculate-scale-button"
                                    data-tooltip="Calcular Escala" data-tooltip-side="left">
                                    <i class="fas fa-calculator"></i> Calcular
                                </button>
                            </div>
                        </div>

                        <div class="scale-output-container flexcol">
                            <h4>Escalas Calculadas (100px na tela ≈ Distância no Mapa)</h4>
                            <ul id="scaleOutputList" class="flexcol">
                                <li>Clique em "Calcular" ou salve as configurações para gerar a tabela de escalas.</li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="footer flexrow">
                <div class="fixed buttons flexrow">
                    <button id="cancelButton" class="cancel-entry disabled">
                        <i class="fas fa-square-xmark"></i> Cancelar
                    </button>
                    <button id="saveButton" class="disabled">
                        <i class="fa-regular fa-floppy-disk"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>