<div id="{{type}}" class="entries flexrow">  
  <div class="content flexcol">
    <div class="header flexrow">
      <div id="imageContainer" class="img-container">
        <img id="displayedImage" class="img-displayed empty" src="./ui/blank-image.svg" alt="Imagem Padrão">
        <input type="file" class="hidden" id="hiddenFileInput" accept="image/*" />
      </div>
      <div class="header-info flexcol">
        <input id="entryTitleInput" type="text" class="title" name="title" placeholder="Título da Entrada" />
        <fieldset class="info-set">
          <div id="entryTypeGroup" class="data-group combo">
            <span class="data-label">Tipo </span>
            <combo id="entryType" value="entryTypes" />
          </div>
          <div class="data-complex flexrow">
            <div class="data-group check">
              <span class="data-label">Rascunho </span>
              <switch id="isDraftSwitch" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="separator"></div>

    <div id="sections" class="tabs-control flexcol">
      <div class="tabs-options flex-0 flexrow">
        <button id="descriptionTabButton" class="flexcol selected" data-tab="descriptionTab"><i
            class="fas fa-align-left"></i> Descrição</button>
        <button id="eventTabButton" class="flexcol" data-tab="eventTab"><i class="fas fa-calendar"></i>
          Eventos</button>
      </div>
      <div id="descriptionTab" class="tab-content flex-1 flexcol active">
        <div id="flavorEditor" class="simple-tmce">
          <div class="text-content editable"></div>
        </div>
        <textarea id="mainEditor">
          <div class="text-content editable"></div>
        </textarea>
      </div>
      <div id="eventTab" class="tab-content flex-1 flexrow">
        <div class="data-group list flexcol">
          <h4 class="flex-0">Eventos Vinculados</h4>
          <a id="newEventButton" class="flyer-button"><i class="fas fa-calendar-plus"></i> Novo Evento</a>
          <ul id="entryEvents" class="list flex-1"></ul>
        </div>
        <div class="event-info flexcol flex-2">
          <fieldset class="info-set flexcol" disabled>
            <div class="data-group text">
              <span class="data-label">Nome Evento </span>
              <input id="eventTitle" type="text" class="data" placeholder="Nome do Evento" />
            </div>
            <div id="eventEntryTypeGroup" class="data-group combo">
              <span class="data-label">Tipo </span>
              <combo id="eventEntryType" value="entryTypes" />
            </div>
            <div id="dateTypeGroup" class="data-group combo">
              <span class="data-label">Calendário </span>
              <combo id="calendarType" value="calendars" />
            </div>
            <div id="relevanceGroup" class="data-group combo">
              <span class="data-label">Relevância </span>
              <combo id="relevance" value="relevances" />
            </div>
            <div class="date-info flexrow">
              <div id="startDate" class="data-group date start" data-date="">
                <span class="data-label">Início </span>
                <calendar class="start"></calendar>
              </div>
              <div id="endDate" class="data-group date end" data-date="">
                <span class="data-label">
                  Término
                  <i class="fa-regular fa-circle-question" data-tooltip="Opcional"></i>
                </span>
                <calendar class="end"></calendar>
              </div>
            </div>
            <div id="eventFlavorEditor" class="simple-tmce">
              <div class="text-content editable"></div>
            </div>
          </fieldset>
          <div class="footer flex-1 flexrow">
            <div class="extra buttons flexrow">
              <button id="cancelEventButton" class="cancel-entry hidden">
                <i class="fas fa-square-xmark"></i> Cancelar
              </button>
            </div>
            <div class="fixed buttons flexrow">
              <button id="addEventButton" class="disabled"><i class="fas fa-floppy-disk"></i> Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer flexrow">      
      <div class="fixed buttons flexrow">        
        <button id="saveButton"><i class="fa-regular fa-floppy-disk"></i> Atualizar</button>
      </div>
    </div>
  </div>
</div>